        /*Modal Popup*/
        .modalBackground {
            background-color:#000;
            filter:alpha(opacity=80);
            opacity:0.8;
        }
        .modalPopup {
            width:300px;
        }
        .modalPopup img {
            border:solid 5px #fff;
        }
        .modalPopup-text {
            display:block;
            color:#000;
            background-color:#fff;
            text-align:center;
            border:solid 2px #000;
            padding:10px;
        }
        .modalPopup-text input {
            width:75px;
        }    
        .feedback
        {
            color: #00cc00;
            font-weight: 700;
        }
        
        /******** Ajax **************/
	    .validatorCalloutHighlight { background-color: lemonchiffon; }